* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #121212;
    color: #FFFFFF;
}

div {
    text-align: center;
}

.big-header {
    font-size: 32px;
    margin-top: 20%;
    margin-left: 2.5%;
}

ul li {
    display: block;
    margin: 0.75% 0;
}

.links {
    color: #018786;
    font-size: 18px;
}