* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #121212;
    color: #FFFFFF;
}

.headers {
    color: #BB86FC;
}

.list {
    color: #03DAC6;
}

.list.list-text {
    color: #FFFFFF;
}

.links {
    color: #018786;
}